@model List<Holodex.Models.FavoriteChannelViewModel>

<h2>我的收藏頻道</h2>

<div class="container">
    @foreach (var channelViewModel in Model)
    {
        <div class="p-3 mb-2 bg-dark text-white d-flex justify-content-between align-items-center">
            <h4>@channelViewModel.FavoriteChannel.ChannelName</h4>
            @using (Html.BeginForm("RemoveFavoriteChannel", "Videos", new { id = channelViewModel.FavoriteChannel.Id }, FormMethod.Post, new { @class = "d-inline " }))
            {
                <input type="submit" value="刪除" class="btn btn-danger btn-sm" />
            }
        </div>
        <hr />
        <div class="row">
            @foreach (var video in channelViewModel.Videos)
            {
                <div class="col-md-4 p-3 mb-2 bg-dark text-dark">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">@video.Title</h5>

                            <a onclick="redirectToVideo('@video.Id')">
                                <img class="embed-responsive embed-responsive-16by9" src="http://img.youtube.com/vi/@video.Id/sddefault.jpg" />
                            </a>
                            <a href="https://www.youtube.com/channel/@video.Channel.Id">
                                <img class="myImage" src="@video.Channel.Photo">
                            </a>
                            <a href="https://www.youtube.com/channel/@video.Channel.Id">@video.Channel.Name</a><br>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
